*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333333;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
#container{
    width: 750px;
    margin: 0 auto;
    margin-bottom: 80px;
}
#topo{
    height: 150px;
    background-color: #181f2b;
    background: url(imagens/logoG.png) no-repeat center;
    background-color: #181f2b;
    background-size: 500px;
    clear: both;
    margin-bottom: 50px;
}
#principal{
    color: #800080;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    margin: auto;
    background-color: #181f2b;
    border-radius: 10%;
}

.titulo{
    color: #00FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 80px;
    border-bottom: 5px solid #800080;
}

.conteudo{
    display: flex;
    flex-direction: column;
    margin: 0 100px 80px 100px;
}

.conteudo input{
    height: 30px;
}

.enviar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    background-color: #800080;
    color: #00FFFF;
    width: 50%;
    height: 250%;
}

#rodape{
    background-color: #181f2b;
    height: 150px;
}